<!DOCTYPE html>
<html>
  <head>
    <title>typecaster-ui</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <h1><a href="/">typecaster-ui</a></h1>
    </header>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    <footer>
    </footer>
  </body>
</html>
